header {
margin: auto;
 }



.nav-icon{
  width: 40px;
  height: 40px;
  background-color: #c4bcb2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 10px;
}

nav{ display: flex;
  align-items: center;
 margin: auto;
  background-color: #2c2c2c;
justify-content: center;
  border-radius: 50px;
  border: 2px solid #555;
  color: white;
margin-top: 1rem;
  
    z-index: 90;
    top: 20px;
    width: 570px;
    padding: 8px 10px;
 
 .nav-link{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 1rem;
  margin: 0;
  gap: 2rem;
  li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
    transition: color 0.3s;
  }
  .hello{
    color: rgba(124, 214, 101, 0.6);
  }
  .active-link-acceuil a{color:rgba(124, 214, 101, 0.6)}
 }
  
}


