.container-projet{
  padding-top: 3rem;
    line-height: 0.5rem;
    h1{font-size: 2rem;
        color: white;
        text-align: center;
    span{color: rgba(124, 214, 101, 0.6);}
   
    }
    p{text-align: center;color: white;}
}
